<!--</div> -->
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyrights 2021 Abdullah Alrumih</p>
  </div>
</div>



<!-- <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Copyrights 2021 Abdullah Alrumih</span>
  </div>
</footer>-->
</html> 