<%- include("header") -%> 
<body>
   
    <!--search Bar-->
   
    <div class="container p-4 pt-5">
      <h3 class="display-3 m-5">Find your Next Favourite Book</h3>
    <form action="" method="post">
      <div class="input-group mb-3">
          <input type="text" class="form-control" name="query" placeholder="Search for a book..." aria-label="Search for a book" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>
        </div>
        
    </form>
  </div>
</body>
  <%- include("footer") -%> 
    